#divTableInv {
    background: #212529; 
    border-radius: 10px;
}

#tableInv {
    margin: 0px auto; 
    width: 98%;
    height: 98%;
}

th {
    color: #0d6efd;
}

td {
    color: rgb(201, 201, 201);
}