
<div id="divCartAppComp" style="top: 0; bottom: 0;">
    
    <h2 class="mt-5 moonText">Cart application / online purchases / demo</h2>

    <div class="row">
        
        <div [className]="showCart ? 'col-8' : 'col' ">
            <button class="btn btn-dark border border-secondary my-3" (click)="openCart()">
                @if(!showCart){    
                    Show cart <span class="whiteCloudNightText">({{items.length}})</span>
                } @else {
                    Close cart
                }
            </button>
            <app-catalog [products] = "products" (productEventEmmiter)="onAddCart($event)"/>
        </div>

        @if(showCart){
            <div class="col-4">
                @if (items.length > 0) {
                    <app-cart [items] = "items" (idProductEventEmitter)="onDeleteCart($event)" [total]="total"/>
                } @else {
                    <br>
                    <div class="h5 mt-5 bg-dark border border-secondary rounded mudText myAlerts">
                       Your shopping cart is empty yet!
                    </div>
                }
            </div>
        }
       
    </div>
    



   

</div>  