<!--<div class="text-end"> 
    <span class="badge bg-dark">${{total}}</span>
</div> -->


<div class="row" style="float: right; ">

    <div class="text-center border border-secondary me-2 bg-dark" style="border-radius: 10px; width: 70px; height: 50px;"> 
        <span class="text-secondary"  style="font-size: large; line-height: 50px;">Total:</span>
    </div>

    <div class="text-center border border-secondary me-3 bg-dark" id="divTotalInvoice"> 
        <span id="spanSignoPrecio"> $</span>
        <span id="spanTotalInvoice">
           {{total}}
        </span>
    </div>

</div>